
DOMAIN_NAME=
CLOUDFLARE_TUNNEL_TOKEN=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Generate random 64-character alphanumeric strings for these:
AUTHELIA_JWT_SECRET=
AUTHELIA_SESSION_SECRET=
STORAGE_ENCRYPTION_KEY=
